{% extends 'gcms_sitehub/base.html' %}
{% load static %}  <!-- Add this line to load static files -->

{% block title %}
Home Page
{% endblock %}

{% block content %}
      <!-- Content -->
      <div class="page-content bg-white">
        <!-- Main Slider -->
        <div class="rev-slider">
          <div
            id="rev_slider_486_1_wrapper"
            class="rev_slider_wrapper fullwidthbanner-container"
            data-alias="news-gallery36"
            data-source="gallery"
            style="
              margin: 0px auto;
              background-color: #ffffff;
              padding: 0px;
              margin-top: 0px;
              margin-bottom: 0px;
            "
          >
            <!-- START REVOLUTION SLIDER 5.3.0.2 fullwidth mode -->
            <div
              id="rev_slider_486_1"
              class="rev_slider fullwidthabanner"
              style="display: none"
              data-version="5.3.0.2"
            >
              <ul>
                <!-- SLIDE  -->
                <li
                  data-index="rs-100"
                  data-transition="parallaxvertical"
                  data-slotamount="default"
                  data-hideafterloop="0"
                  data-hideslideonmobile="off"
                  data-easein="default"
                  data-easeout="default"
                  data-masterspeed="default"
                  data-thumb="error-404.html"
                  data-rotate="0"
                  data-fstransition="fade"
                  data-fsmasterspeed="1500"
                  data-fsslotamount="7"
                  data-saveperformance="off"
                  data-title="A STUDY ON HAPPINESS"
                  data-param1=""
                  data-param2=""
                  data-param3=""
                  data-param4=""
                  data-param5=""
                  data-param6=""
                  data-param7=""
                  data-param8=""
                  data-param9=""
                  data-param10=""
                  data-description="Science says that Women are generally happier"
                >
                  <!-- MAIN IMAGE -->
                  <img
                    src="{% static 'assets/images/slider/slide1.jpg'%}"
                    alt=""
                    data-bgposition="center center"
                    data-bgfit="cover"
                    data-bgrepeat="no-repeat"
                    data-bgparallax="10"
                    class="rev-slidebg"
                    data-no-retina
                  />

                  <!-- LAYER NR. 1 -->
                  <div
                    class="tp-caption tp-shape tp-shapewrapper"
                    id="slide-100-layer-1"
                    data-x="['center','center','center','center']"
                    data-hoffset="['0','0','0','0']"
                    data-y="['middle','middle','middle','middle']"
                    data-voffset="['0','0','0','0']"
                    data-width="full"
                    data-height="full"
                    data-whitespace="nowrap"
                    data-type="shape"
                    data-basealign="slide"
                    data-responsive_offset="off"
                    data-responsive="off"
                    data-frames='[{"from":"opacity:0;","speed":1,"to":"o:1;","delay":0,"ease":"Power4.easeOut"},{"delay":"wait","speed":1,"to":"opacity:0;","ease":"Power4.easeOut"}]'
                    data-textAlign="['left','left','left','left']"
                    data-paddingtop="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    style="
                      z-index: 5;
                      background-color: rgba(2, 0, 11, 0.8);
                      border-color: rgba(0, 0, 0, 0);
                      border-width: 0px;
                    "
                  ></div>
                  <!-- LAYER NR. 2 -->
                  <div
                    class="tp-caption Newspaper-Title tp-resizeme"
                    id="slide-100-layer-2"
                    data-x="['center','center','center','center']"
                    data-hoffset="['0','0','0','0']"
                    data-y="['top','top','top','top']"
                    data-voffset="['250','250','250','240']"
                    data-fontsize="['50','50','50','30']"
                    data-lineheight="['55','55','55','35']"
                    data-width="full"
                    data-height="none"
                    data-whitespace="normal"
                    data-type="text"
                    data-responsive_offset="on"
                    data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                    data-textAlign="['center','center','center','center']"
                    data-paddingtop="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingbottom="[10,10,10,10]"
                    data-paddingleft="[0,0,0,0]"
                    style="
                      z-index: 6;
                      font-family: rubik;
                      font-weight: 700;
                      text-align: center;
                      white-space: normal;
                    "
                  >
                    Welcome To GCMS Sangota
                  </div>

                  <!-- LAYER NR. 3 -->
                  <div
                    class="tp-caption Newspaper-Subtitle tp-resizeme"
                    id="slide-100-layer-3"
                    data-x="['center','center','center','center']"
                    data-hoffset="['0','0','0','0']"
                    data-y="['top','top','top','top']"
                    data-voffset="['210','210','210','210']"
                    data-width="none"
                    data-height="none"
                    data-whitespace="nowrap"
                    data-type="text"
                    data-responsive_offset="on"
                    data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                    data-textAlign="['left','left','left','left']"
                    data-paddingtop="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    style="
                      z-index: 7;
                      white-space: nowrap;
                      color: #fff;
                      font-family: rubik;
                      font-size: 18px;
                      font-weight: 400;
                    "
                  >
                    Batter Education For A Better Future
                  </div>

                  <!-- LAYER NR. 3 -->
                  <div
                    class="tp-caption Newspaper-Subtitle tp-resizeme"
                    id="slide-100-layer-4"
                    data-x="['center','center','center','center']"
                    data-hoffset="['0','0','0','0']"
                    data-y="['top','top','top','top']"
                    data-voffset="['320','320','320','290']"
                    data-width="['800','800','700','420']"
                    data-height="['100','100','100','120']"
                    data-whitespace="unset"
                    data-type="text"
                    data-responsive_offset="on"
                    data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                    data-textAlign="['center','center','center','center']"
                    data-paddingtop="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    style="
                      z-index: 7;
                      text-transform: capitalize;
                      white-space: unset;
                      color: #fff;
                      font-family: rubik;
                      font-size: 18px;
                      line-height: 28px;
                      font-weight: 400;
                    "
                  >
                    GCMS Sangota - Shaping future business leaders through
                    excellence in management education and research in Swat
                    Valley.
                  </div>
                  <!-- LAYER NR. 4 -->
                  <div
                    class="tp-caption Newspaper-Button rev-btn"
                    id="slide-100-layer-5"
                    data-x="['center','center','center','center']"
                    data-hoffset="['90','80','75','90']"
                    data-y="['top','top','top','top']"
                    data-voffset="['400','400','400','420']"
                    data-width="none"
                    data-height="none"
                    data-whitespace="nowrap"
                    data-type="button"
                    data-responsive_offset="on"
                    data-responsive="off"
                    data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
                    data-textAlign="['center','center','center','center']"
                    data-paddingtop="[12,12,12,12]"
                    data-paddingright="[30,35,35,15]"
                    data-paddingbottom="[12,12,12,12]"
                    data-paddingleft="[30,35,35,15]"
                    style="
                      z-index: 8;
                      white-space: nowrap;
                      outline: none;
                      box-shadow: none;
                      box-sizing: border-box;
                      -moz-box-sizing: border-box;
                      -webkit-box-sizing: border-box;
                      cursor: pointer;
                      background-color: var(--primary) !important;
                      border: 0;
                      border-radius: 30px;
                      margin-right: 5px;
                    "
                  >
                    <a
                      href="{% url 'about_page' %}"
                      style="color: inherit; text-decoration: none"
                      >READ MORE</a
                    >
                  </div>
                  <div
                    class="tp-caption Newspaper-Button rev-btn"
                    id="slide-100-layer-6"
                    data-x="['center','center','center','center']"
                    data-hoffset="['-90','-80','-75','-90']"
                    data-y="['top','top','top','top']"
                    data-voffset="['400','400','400','420']"
                    data-width="none"
                    data-height="none"
                    data-whitespace="nowrap"
                    data-type="button"
                    data-responsive_offset="on"
                    data-responsive="off"
                    data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
                    data-textAlign="['center','center','center','center']"
                    data-paddingtop="[12,12,12,12]"
                    data-paddingright="[30,35,35,15]"
                    data-paddingbottom="[12,12,12,12]"
                    data-paddingleft="[30,35,35,15]"
                    style="
                      z-index: 8;
                      white-space: nowrap;
                      outline: none;
                      box-shadow: none;
                      box-sizing: border-box;
                      -moz-box-sizing: border-box;
                      -webkit-box-sizing: border-box;
                      cursor: pointer;
                      border-radius: 30px;
                    "
                  >
                    <a
                      href="{% url 'contact_page' %}"
                      style="color: inherit; text-decoration: none"
                      >CONTACT US</a
                    >
                  </div>
                </li>
                <li
                  data-index="rs-200"
                  data-transition="parallaxvertical"
                  data-slotamount="default"
                  data-hideafterloop="0"
                  data-hideslideonmobile="off"
                  data-easein="default"
                  data-easeout="default"
                  data-masterspeed="default"
                  data-thumb="assets/images/slider/slide1.jpg"
                  data-rotate="0"
                  data-fstransition="fade"
                  data-fsmasterspeed="1500"
                  data-fsslotamount="7"
                  data-saveperformance="off"
                  data-title="A STUDY ON HAPPINESS"
                  data-param1=""
                  data-param2=""
                  data-param3=""
                  data-param4=""
                  data-param5=""
                  data-param6=""
                  data-param7=""
                  data-param8=""
                  data-param9=""
                  data-param10=""
                  data-description="Science says that Women are generally happier"
                >
                  <!-- MAIN IMAGE -->
                  <img
                    src="{% static 'assets/images/slider/slide2.jpg' %}"
                    alt=""
                    data-bgposition="center center"
                    data-bgfit="cover"
                    data-bgrepeat="no-repeat"
                    data-bgparallax="10"
                    class="rev-slidebg"
                    data-no-retina
                  />

                  <!-- LAYER NR. 1 -->
                  <div
                    class="tp-caption tp-shape tp-shapewrapper"
                    id="slide-200-layer-1"
                    data-x="['center','center','center','center']"
                    data-hoffset="['0','0','0','0']"
                    data-y="['middle','middle','middle','middle']"
                    data-voffset="['0','0','0','0']"
                    data-width="full"
                    data-height="full"
                    data-whitespace="nowrap"
                    data-type="shape"
                    data-basealign="slide"
                    data-responsive_offset="off"
                    data-responsive="off"
                    data-frames='[{"from":"opacity:0;","speed":1,"to":"o:1;","delay":0,"ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"to":"opacity:1;","ease":"Power4.easeOut"}]'
                    data-textAlign="['left','left','left','left']"
                    data-paddingtop="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    style="
                      z-index: 5;
                      background-color: rgba(2, 0, 11, 0.8);
                      border-color: rgba(0, 0, 0, 0);
                      border-width: 0px;
                    "
                  ></div>

                  <!-- LAYER NR. 2 -->
                  <div
                    class="tp-caption Newspaper-Title tp-resizeme"
                    id="slide-200-layer-2"
                    data-x="['center','center','center','center']"
                    data-hoffset="['0','0','0','0']"
                    data-y="['top','top','top','top']"
                    data-voffset="['250','250','250','240']"
                    data-fontsize="['50','50','50','30']"
                    data-lineheight="['55','55','55','35']"
                    data-width="full"
                    data-height="none"
                    data-whitespace="normal"
                    data-type="text"
                    data-responsive_offset="on"
                    data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                    data-textAlign="['center','center','center','center']"
                    data-paddingtop="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingbottom="[10,10,10,10]"
                    data-paddingleft="[0,0,0,0]"
                    style="
                      z-index: 6;
                      font-family: rubik;
                      font-weight: 700;
                      text-align: center;
                      white-space: normal;
                      text-transform: uppercase;
                    "
                  >
                    Welcome To GCMS Sangota
                  </div>

                  <!-- LAYER NR. 3 -->
                  <div
                    class="tp-caption Newspaper-Subtitle tp-resizeme"
                    id="slide-200-layer-3"
                    data-x="['center','center','center','center']"
                    data-hoffset="['0','0','0','0']"
                    data-y="['top','top','top','top']"
                    data-voffset="['210','210','210','210']"
                    data-width="none"
                    data-height="none"
                    data-whitespace="nowrap"
                    data-type="text"
                    data-responsive_offset="on"
                    data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                    data-textAlign="['left','left','left','left']"
                    data-paddingtop="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    style="
                      z-index: 7;
                      white-space: nowrap;
                      text-transform: uppercase;
                      color: #fff;
                      font-family: rubik;
                      font-size: 18px;
                      font-weight: 400;
                    "
                  >
                    Batter Education For A Better Future
                  </div>

                  <!-- LAYER NR. 3 -->
                  <div
                    class="tp-caption Newspaper-Subtitle tp-resizeme"
                    id="slide-200-layer-4"
                    data-x="['center','center','center','center']"
                    data-hoffset="['0','0','0','0']"
                    data-y="['top','top','top','top']"
                    data-voffset="['320','320','320','290']"
                    data-width="['800','800','700','420']"
                    data-height="['100','100','100','120']"
                    data-whitespace="unset"
                    data-type="text"
                    data-responsive_offset="on"
                    data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                    data-textAlign="['center','center','center','center']"
                    data-paddingtop="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    style="
                      z-index: 7;
                      text-transform: capitalize;
                      white-space: unset;
                      color: #fff;
                      font-family: rubik;
                      font-size: 18px;
                      line-height: 28px;
                      font-weight: 400;
                    "
                  >
                    GCMS Sangota - Shaping future business leaders through
                    excellence in management education and research in Swat
                    Valley.
                  </div>
                  <!-- LAYER NR. 4 -->
                  <div
                    class="tp-caption Newspaper-Button rev-btn"
                    id="slide-200-layer-5"
                    data-x="['center','center','center','center']"
                    data-hoffset="['90','80','75','90']"
                    data-y="['top','top','top','top']"
                    data-voffset="['400','400','400','420']"
                    data-width="none"
                    data-height="none"
                    data-whitespace="nowrap"
                    data-type="button"
                    data-responsive_offset="on"
                    data-responsive="off"
                    data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
                    data-textAlign="['center','center','center','center']"
                    data-paddingtop="[12,12,12,12]"
                    data-paddingright="[30,35,35,15]"
                    data-paddingbottom="[12,12,12,12]"
                    data-paddingleft="[30,35,35,15]"
                    style="
                      z-index: 8;
                      white-space: nowrap;
                      outline: none;
                      box-shadow: none;
                      box-sizing: border-box;
                      -moz-box-sizing: border-box;
                      -webkit-box-sizing: border-box;
                      cursor: pointer;
                      background-color: var(--primary) !important;
                      border: 0;
                      border-radius: 30px;
                      margin-right: 5px;
                    "
                  >
                    READ MORE
                  </div>
                  <div
                    class="tp-caption Newspaper-Button rev-btn"
                    id="slide-200-layer-6"
                    data-x="['center','center','center','center']"
                    data-hoffset="['-90','-80','-75','-90']"
                    data-y="['top','top','top','top']"
                    data-voffset="['400','400','400','420']"
                    data-width="none"
                    data-height="none"
                    data-whitespace="nowrap"
                    data-type="button"
                    data-responsive_offset="on"
                    data-responsive="off"
                    data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
                    data-textAlign="['center','center','center','center']"
                    data-paddingtop="[12,12,12,12]"
                    data-paddingright="[30,35,35,15]"
                    data-paddingbottom="[12,12,12,12]"
                    data-paddingleft="[30,35,35,15]"
                    style="
                      z-index: 8;
                      white-space: nowrap;
                      outline: none;
                      box-shadow: none;
                      box-sizing: border-box;
                      -moz-box-sizing: border-box;
                      -webkit-box-sizing: border-box;
                      cursor: pointer;
                      border-radius: 30px;
                    "
                  >
                    CONTACT US
                  </div>
                </li>
                <!-- SLIDE  -->
              </ul>
            </div>
            <!-- END REVOLUTION SLIDER -->
          </div>
        </div>
        <!-- Main Slider END -->
 <!-- Our Services -->
<div class="content-block">
  <!-- Our Services Section -->
  <div class="section-area content-inner service-info-bx">
    <div class="container">
      <div class="row">
        <!-- Admission Service -->
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
          <div class="service-bx">
            <div class="action-box">
              <img class="img-fluid" src="{% static 'assets/images/our-services/admission.jpg' %}" alt="Admission" />
            </div>
            <div class="info-bx text-center">
              <div class="feature-box-sm radius bg-white">
                <i class="fa fa-id-card text-primary"></i>
              </div>
              <h4><a href="{% url 'admission' %}">Admission</a></h4>
              <a href="{% url 'admission' %}" class="btn radius-xl">View More</a>
              
            </div>
          </div>
        </div>

        <!-- Examination Service -->
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
          <div class="service-bx">
            <div class="action-box">
              <img class="img-fluid" src="{% static 'assets/images/our-services/exam.jpg' %}" alt="Examination" />
            </div>
            <div class="info-bx text-center">
              <div class="feature-box-sm radius bg-white">
                <i class="fa fa-pencil-square text-primary"></i>
              </div>
              <h4><a href="{% url 'examination_info' %}">Examination</a></h4>
              <a href="{% url 'examination_info' %}" class="btn radius-xl">View More</a>
              
            </div>
          </div>
        </div>

        <!-- Library Service -->
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
          <div class="service-bx">
            <div class="action-box">
              <img class="img-fluid" src="{% static 'assets/images/our-services/library.webp' %}" alt="Library" />
            </div>
            <div class="info-bx text-center">
              <div class="feature-box-sm radius bg-white">
                <i class="fa fa-book text-primary"></i>
              </div>
              <h4><a href="{% url 'library_home' %}">Library</a></h4>
                <a href="{% url 'library_home' %}" class="btn radius-xl">View More</a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Our Services END -->
<!-- Departments Section -->
<section class="section-area section-sp2">
  <div class="container">

    <!-- Section Heading -->
    <div class="row">
      <div class="col-md-12 heading-bx text-center">
        <h2 class="title-head">Explore <span>Departments</span></h2>
        <p class="text-muted">Discover academic excellence across our diverse departments led by experienced faculty.</p>
      </div>
    </div>

    <!-- Dynamic Departments Carousel -->
    <div class="recent-news-carousel owl-carousel owl-btn-1 col-12 p-lr0">
      {% for d in departments %}
      <div class="item">
        <div class="recent-news d-flex flex-column shadow-sm rounded" style="height: 450px; background: #fff;">

          <!-- Image -->
          <div class="action-box">
            <img src="{{ d.image.url }}" alt="{{ d.name }}" class="w-100" style="height: 180px; object-fit: cover;">
          </div>

          <!-- Info -->
          <div class="info-bx d-flex flex-column flex-grow-1 p-3 text-center">
            <h5 class="post-title fw-bold mb-2">{{ d.name }}</h5>

            <p class="small text-muted mb-3">{{ d.description|truncatewords:18 }}</p>

            <div class="mb-2">
              <span class="badge bg-success">{{ d.degree_type }}</span>
            </div>

            <div class="faculty-box bg-light p-2 rounded small mb-3">
              <strong>{{ d.faculty }}</strong>
            </div>

            <a href="{% url 'department_detail' d.slug %}" class="btn btn-outline-primary btn-sm mt-auto">View Details</a>
          </div>
        </div>
      </div>
      {% empty %}
      <div class="text-center text-muted py-4 w-100">
        <p>No departments available at the moment.</p>
      </div>
      {% endfor %}
    </div>

  </div>
</section>


<!-- Optional: Add some custom styles -->
<style>
.department-card:hover img {
  transform: scale(1.05);
}
</style>
<!-- Departments Section  End-->

<!-- Courses Section -->
<section class="section-area section-sp2">
  <div class="container">
    <!-- Section Heading -->
    <div class="row">
      <div class="col-md-12 heading-bx text-center">
        <h2 class="title-head">Our <span>Courses</span></h2>
        <p class="text-muted">Explore the professional courses we offer to build your future.</p>
      </div>
    </div>

    <!-- Dynamic Courses Carousel -->
    <div class="recent-news-carousel owl-carousel owl-btn-1 col-12 p-lr0">
      {% for course in courses %}
      <div class="item">
        <div class="recent-news d-flex flex-column shadow-sm rounded" style="height: 450px; background: #fff;">
          
          <!-- Image -->
          <div class="action-box">
            {% if course.image %}
            <img src="{{ course.image.url }}" alt="{{ course.title }}" class="w-100" style="height: 180px; object-fit: cover;">
            {% else %}
            <img src="{% static 'assets/images/default-course.jpg' %}" alt="Default Course" class="w-100" style="height: 180px; object-fit: cover;">
            {% endif %}
          </div>

          <!-- Info -->
          <div class="info-bx d-flex flex-column flex-grow-1 p-3 text-center">
            <h5 class="post-title fw-bold mb-2">{{ course.title }}</h5>

            <p class="small text-muted mb-3">{{ course.description|truncatewords:18 }}</p>

            <div class="mb-2">
              <span class="badge bg-primary">{{ course.duration }}</span>
            </div>

            <div class="course-box bg-light p-2 rounded small mb-3">
              <strong>{{ course.title }}</strong>
            </div>

            <a href="{% url 'course_detail' course.slug %}" class="btn btn-outline-primary btn-sm mt-auto">View Details</a>
          </div>
        </div>
      </div>
      {% empty %}
      <div class="text-center text-muted py-4">
        <p>No courses available at the moment.</p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>


<!-- Message from the Principal -->
<div class="section-area bg-gray section-sp1 our-story">
  <div class="container">
    <div class="row align-items-center d-flex">
      <div class="col-lg-5 col-md-12 heading-bx">
        <h2 class="m-b10">{{ principal_message.title }}</h2>
        <h5 class="fw4">{{ principal_message.subtitle }}</h5>
        <p>{{ principal_message.message }}</p>
        <a href="{% url 'about_page' %}" class="btn">Learn More</a>

      </div>
      <div class="col-lg-7 col-md-12 heading-bx p-lr">
        <div class="video-bx">
          <img src="{{ principal_message.image.url }}" alt="Principal's Message Image" />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Academic Excellence - GCMS Sangota -->
<section class="section-area section-sp1 text-white position-relative" style="background: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url('{{ academic_excellence.background_image.url }}'); background-size: cover; background-position: center;">
  <div class="container py-5 position-relative z-2">

    <!-- Section Header -->
    <div class="text-center mb-5">
      <h2 class="display-4 fw-bold">{{ academic_excellence.heading }}</h2>
      <p class="lead text-light mx-auto" style="max-width: 750px;">
        {{ academic_excellence.subheading }}
      </p>
    </div>

    <!-- Statistics Cards -->
    <div class="row g-4 justify-content-center">
      <!-- Students Enrolled -->
      <div class="col-md-4">
        <div class="d-flex align-items-center bg-white bg-opacity-10 border border-light rounded-4 p-4 shadow-sm h-100">
          <div class="me-3">
            <i class="ti-user fs-1 text-primary"></i>
          </div>
          <div>
            <h3 class="fw-bold mb-1 text-dark">{{ academic_excellence.students_enrolled }}+</h3>

            <p class="text-uppercase small mb-0 text-dark">Students Enrolled</p>
          </div>
        </div>
      </div>

      <!-- Academic Programs -->
      <div class="col-md-4">
        <div class="d-flex align-items-center bg-white bg-opacity-10 border border-light rounded-4 p-4 shadow-sm h-100">
          <div class="me-3">
            <i class="ti-book fs-1 text-success"></i>
          </div>
          <div>
            <h3 class="fw-bold mb-1 text-dark">{{ academic_excellence.academic_programs }}+</h3>
            <p class="text-uppercase small mb-0 text-dark">Academic Programs</p>
          </div>
        </div>
      </div>

      <!-- Employment Rate -->
      <div class="col-md-4">
        <div class="d-flex align-items-center bg-white bg-opacity-10 border border-light rounded-4 p-4 shadow-sm h-100">
          <div class="me-3">
            <i class="ti-briefcase fs-1 text-warning"></i>
          </div>
          <div>
            <h3 class="fw-bold mb-1 text-dark">{{ academic_excellence.employment_rate }}%</h3>
            <p class="text-uppercase small mb-0 text-dark">Graduate Employment Rate</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>



 <!-- Upcoming Events -->
<div class="section-area section-sp2">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center heading-bx">
        <h2 class="title-head m-b0">Upcoming <span>Events</span></h2>
        <p class="m-b0">Academic & Cultural Events at GCMS Sangota</p>
      </div>
    </div>
    <div class="upcoming-event-carousel owl-carousel owl-btn-center-lr owl-btn-1 col-12 p-lr0 m-b30">
      {% for event in events %}
      <div class="item">
        <div class="event-bx d-flex flex-column" style="height: 100%; border: 1px solid #eee; border-radius: 8px; overflow: hidden;">
          <!-- Image -->
          <div class="action-box" style="height: 200px; overflow: hidden;">
            <a href="{% url 'event_detail' event.id %}" style="display: block; height: 100%;">
              <img src="{{ event.event_image.url|default_if_none:'/static/assets/images/default-event.jpg' }}"
                   alt="{{ event.title }}"
                   style="width: 100%; height: 100%; object-fit: cover;" />
            </a>
          </div>

          <!-- Info -->
          <div class="info-bx d-flex p-3" style="flex-grow: 1;">
            <div class="pe-3 text-center" style="min-width: 60px;">
              <div class="event-time">
                <div class="event-date" style="font-size: 24px; font-weight: bold;">{{ event.date|date:"d" }}</div>
                <div class="event-month">{{ event.date|date:"b" }}</div>
              </div>
            </div>
            <div class="event-info" style="flex: 1;">
              <h4 class="event-title mb-2">
                <a href="{% url 'event_detail' event.id %}" style="color: #222; text-decoration: none;">
                  {{ event.title }}
                </a>
              </h4>
              <ul class="media-post list-unstyled d-flex flex-wrap gap-2 mb-2" style="font-size: 14px;">
                <li><i class="fa fa-clock-o me-1"></i> {{ event.date|date:"g:i A" }}</li>
                <li><i class="fa fa-map-marker me-1"></i> {{ event.venue }}</li>
              </ul>
              <p class="mb-0" style="font-size: 14px; line-height: 1.4;">{{ event.description|truncatewords:25 }}</p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="text-center">
      <a href="{% url 'event_list' %}" class="btn btn-primary">View All GCMS Events</a>
    </div>
  </div>
</div>
<!-- Upcoming Events END -->


<!-- Testimonials -->
<div class="section-area section-sp2 bg-fix ovbl-dark" style="background-image: url('{% static "assets/images/background/bg1.jpg" %}')">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-white heading-bx left">
        <h2 class="title-head text-uppercase">What Our <span>People Say</span></h2>
        <p>Hear from our students about their experiences at Government College of Management Science, Sangota</p>
      </div>
    </div>
    <div class="testimonial-carousel owl-carousel owl-btn-1 col-12 p-lr0">
      {% for t in testimonials %}
      <div class="item">
        <div class="testimonial-bx">
          <div class="testimonial-thumb">
            <img src="{{ t.image.url }}" alt="{{ t.name }}">
          </div>
          <div class="testimonial-info">
            <h5 class="name">{{ t.name }}</h5>
            <p>- {{ t.role }}</p>
          </div>
          <div class="testimonial-content">
            <p>"{{ t.message }}"</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- Testimonials END -->
<br><br>

<!-- Recent News Section -->
<div class="section-area section-sp2">
  <div class="container">
    <div class="row">
      <div class="col-md-12 heading-bx left">
        <h2 class="title-head">GCMS <span>Latest News</span></h2>
        <p>
          Stay updated with the latest happenings at Government
          College of Management Science, Sangota
        </p>
      </div>
    </div>

    <!-- Dynamic News Carousel -->
    <div class="recent-news-carousel owl-carousel owl-btn-1 col-12 p-lr0">
      {% for item in news %}
      <div class="item">
        <div class="recent-news d-flex flex-column shadow-sm rounded" style="height: 450px; background: #fff;">
          
          <!-- Image -->
          <div class="action-box">
            <img src="{{ item.image.url }}" alt="{{ item.title }}" class="w-100" style="height: 180px; object-fit: cover;">
          </div>

          <!-- Info -->
          <div class="info-bx d-flex flex-column flex-grow-1 p-3">
            <ul class="media-post list-inline mb-2 small text-muted">
              <li class="list-inline-item"><i class="fa fa-calendar"></i> {{ item.date|date:"M d, Y" }}</li>
              <li class="list-inline-item"><i class="fa fa-user"></i> {{ item.author }}</li>
            </ul>
            
            <h6 class="post-title mb-2">
              <a href="#" class="text-dark">{{ item.title|truncatewords:12 }}</a>
            </h6>

            <p class="flex-grow-1 small text-muted">{{ item.description|truncatewords:22 }}</p>

            <div class="post-extra d-flex justify-content-between align-items-center">
              <a href="{% url 'news_detail' item.slug %}" class="btn-link">READ MORE</a>
              <span class="comments-bx small"><i class="fa fa-comments-o"></i> 0 Comments</span>
            </div>
          </div>
        </div>
      </div>
      {% empty %}
      <div class="text-center text-muted py-4">
        <p>No news articles available at the moment.</p>
      </div>
      {% endfor %}
    </div>

    <!-- View All Button -->
    <div class="text-center mt-4">
      <a href="{% url 'news_list' %}" class="btn btn-primary btn-sm">View All Latest News</a>
    </div>
  </div>
</div>

{% endblock %}
